h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name1 {
    margin-top: -110px;
}

#count {
    position: relative;
    left: 15em;
    bottom: 14.8em;
    border: 1px solid black;
    border-radius: 5px; 
    width: 100px;
}

#count2 {
    position: relative;
    left: 15.2em;
    bottom: 14.8em;
    border: 1px solid black;
    border-radius: 5px; 
    width: 100px;
}

.result p {
    word-break: break-all;
    width: 200px;
    margin-left: 0;
}

.nav {
    display: inline-block;
}

.navigation ol {
    list-style-type: none;
    padding-left: 0;
}


hr {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid black;
    margin: 1em auto;
    padding: 0;
}

#n {
    position: relative;
    left: 7em;
    bottom: 8em;
    border: 1px solid black;
    border-radius: 5px; 
    width: 100px;
}

#n2 {
    position: relative;
    left: 7.2em;
    bottom: 8em;
    border: 1px solid black;
    border-radius: 5px; 
    width: 100px;
}

.result {
    margin-top: 20px;
}

.big-c {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200px;
    font-family: 'Courier New', Courier, monospace;
}